.page {
  min-height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputGroup {
  width: 100%;
}

.input {
  width: 100%;
  height: 5.2rem;
  background: var(--gray-100);
  border: 1px solid var(--border-outline);
  border-radius: 0.8rem;
  padding: 0 1.6rem;
  font-family: var(--font-body);
  font-size: 1.6rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  color: var(--text-over-primary);
}

.input:focus {
  outline: none;
  border-color: var(--primary-light);
  box-shadow: 0 0 0 2px rgba(77, 231, 183, 0.2);
}

.errorMessage {
  background: rgb(255, 0, 0, 0.5);
  border: 1px solid var(--error);
  padding: 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
}

.forgot {
  color: var(--text-default);
  font-size: 1.4rem;
  text-decoration: none;
  align-self: flex-end;
  transition: color 0.2s;
}

.forgot:hover {
  text-decoration: underline;
}

.button {
  width: 100%;
  height: 5.2rem;
  background: var(--primary);
  color: var(--text-over-primary); 
  border: none;                  
  border-radius: 0.8rem;         
  font-size: 1.6rem;
  font-weight: 700;              
  cursor: pointer;               
  transition: background-color 0.2s;
}

.button:hover {
  background: var(--primary-light); 
}

.footerText {
  font-size: 1.4rem;
  color: var(--text-default); /* Mudado para text-default para garantir que fique visível no fundo do card */
  text-align: center;
  margin-top: 1rem;
}

.footerText a {
  color: var(--primary); 
  text-decoration: none;
  font-weight: 600;
  margin-left: 0.5rem;
}

.footerText a:hover {
  text-decoration: underline; 
}