.header{
    background-color: #953154;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    height: 7rem;
    padding: 0 3.2rem;
}

/* LOGO*/
.brand {
  display: flex;
  align-items: center; 
  text-decoration: none;
  gap: 10px; 
}

.logoCircle {
  width: 50px;
  height: 50px;
  background-color: #D54779; /* Cor rosa do fundo da logo */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logoImage {
  width: 70%; 
  height: auto;
  object-fit: contain;
}

.brandName {
  color: white;
  font-family: 'Handlee', sans-serif; /* A fonte manuscrita que você viu na imagem */
  font-size: 28px;
  font-weight: 400;
}

/*BARRA DE NAVEGAÇAO*/
.headerContent{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
}

.navList{
    list-style: none;
    display: flex;
    gap: 3.2rem;
}

.navLink {
    text-decoration: none;
    color: var(--default-text);
    display: flex;
    align-items: center;
}
.navLink:hover {
    color: var(--primary);
}






