.header {
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    height: 7rem;
    padding: 0 3.2rem;
}

.brand {
    text-decoration: none;
    color: var(--text-default);
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.logoCircle {
    width: 4.8rem;
    height: 4.8rem;
    background: var(--bg-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logoImage {
    width: 63%;
    height: 63%;
    object-fit: cover;
}

.brandName {
    font-size: 2.8rem;
    font-weight: 700;

}

.headerContent {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 3.2rem;
}

.navLink {
    text-decoration: none;
    color: var(--text-default);
    display: flex;
    align-items: center;
}