.footer {
  background: var(--bg-primary);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.footer p {
  font-size: 1.4rem;
  opacity: 1.6;
}